<div class="container">
  <div class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="cs-icon-mic-outline"></i></a></li>
        <li><a routerLink="/search" routerLinkActive="active"><i class="cs-icon-search"></i></a></li>
        <li><a routerLink="/chat" routerLinkActive="active"><i class="cs-icon-chat-alt"></i></a></li>
        <li><a routerLink="/liked" routerLinkActive="active"><i class="cs-icon-heart"></i></a></li>
      </ul>
    </nav>
    <nav class="bottom-nav">
      <ul>
        <li><a routerLink="/users" routerLinkActive="active"><i class="cs-icon-user"></i></a></li>
        <li><a routerLink="/settings" routerLinkActive="active"><i class="cs-icon-cog"></i></a></li>
        <li><a routerLink="/help" routerLinkActive="active"><i class="cs-icon-help"></i></a></li>
      </ul>
    </nav>
  </div>
  <div class="main">
    <div class="header">
      <img src="assets/images/logo.svg" alt="Logo" width="30" height="30"> <!-- Add this line -->
      <h1>Main App 1</h1>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>