/* styles.css */

$header-color: #212121;
$menu-colour: #080808;
$background-colour: #212121;
$font-colour: #ECECEC;

.container {
  background-color: $background-colour;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  .sidebar {
    flex: 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $menu-colour;
   
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
     
      li {
        padding: 0;
        a {
          color: $font-colour;
          font-weight: normal;
          display: block;
          height: 100%;
          padding: 18px 0;
        }
        text-align: center;
        cursor: pointer;
        .active, &:hover {
          background-color: $header-color;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          

        }
      }
      // li:first-child {
      //   a {
      //     padding-top: 0;
      //   }
      // }
    }
  }
  
  .main {
    flex-grow: 1;
    overflow: auto;
    .header {
      height: 56px;
      background-color: $header-color;
      padding: 0 12px;
      margin:0;
      display: flex; /* Add this line */
      align-items: center; /* Add this line */
      h1 {
        margin-left: 5px;
        font-size: 18px;
      }
    }
    .content {
      padding: 20px;
      
    }
  }
  
}



