<div class="container">
  <div class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/dashboard"><i class="cs-icon-mic-outline"></i></a></li>
        <li><a routerLink="/dashboard"><i class="cs-icon-mic-outline"></i></a></li>
        <li><a routerLink="/dashboard"><i class="cs-icon-chat-alt"></i></a></li>
        <li><a routerLink="/dashboard"><i class="cs-icon-heart"></i></a></li>
        <li><a routerLink="/users"><i class="cs-icon-up-big"></i></a></li>
        <li><a routerLink="/users"><i class="cs-icon-help"></i></a></li>
      </ul>
    </nav>
  </div>
  <div class="main">
    <div class="header">
      <img src="assets/images/logo.svg" alt="Logo" width="30" height="30"> <!-- Add this line -->
      <h1>Main App</h1>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>