@charset "UTF-8";

.cs-icon-heart:before { content: '󁄀'; } /* '\c1100' */
.cs-icon-cancel:before { content: '󁄁'; } /* '\c1101' */
.cs-icon-heart-filled:before { content: '󁄂'; } /* '\c1102' */
.cs-icon-chat-alt:before { content: '󁄃'; } /* '\c1103' */
.cs-icon-help:before { content: '󁄄'; } /* '\c1104' */
.cs-icon-mic-outline:before { content: '󁄅'; } /* '\c1105' */
.cs-icon-mic:before { content: '󁄆'; } /* '\c1106' */
.cs-icon-up-big:before { content: '󁄇'; } /* '\c1107' */
